@media (min-width: 768px) {
    .partners{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .partners-link:nth-child(n + 7) {
        display: block;
    }

    .link1 {
        padding: 36px 19px 36px 20px;
    }

    .link2 {
        padding: 36px 28px 0px 29px;
    }

    .link3 {
        padding: 38px 38px 38px 39px;
    }

    .link4 {
        padding: 39px 38px;
    }

    .link5 {
        padding: 38px 41px;
    }

    .link6 {
        padding: 36px 61px 36px 61px;
    }

    .link7 {
        padding: 29px 59px 30px 59px;
    }

    .link8 {
        padding: 22px 55px;
    }

    .link9 {
        padding: 30px 37px;
    }

    .link10 {
        padding: 41px 37px 41px 38px;
    }

    .link11 {
        padding: 37px 33px 37px 34px;
    }

    .link12 {
        padding: 13px 52px 12px 52px;
    }
}

@media (min-width: 1024px) {
    .partners {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1440px) {
    .link1 {
        padding: 36px 71px 36px 72px;
    }

    .link2 {
        padding: 36px 80px 0px 81px;
    }

    .link3 {
        padding: 38px 90px 38px 91px;
    }

    .link4 {
        padding: 39px 90px;
    }

    .link5 {
        padding: 38px 93px;
    }

    .link6 {
        padding: 36px 86px 36px 87px;
    }

    .link7 {
        padding: 29px 111px 30px 111px;
    }

    .link8 {
        padding: 22px 107px;
    }

    .link9 {
        padding: 30px 89px;
    }

    .link10 {
        padding: 41px 89px 41px 90px;
    }

    .link11 {
        padding: 37px 85px 37px 86px;
    }

    .link12 {
        padding: 13px 104px 12px 104px;
    }
}

@media (min-width: 1920px) {
    .wrapper-partners {
        width: 1920px;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .partners {
        overflow: hidden;
        border-radius: 12px;
    }

    .link1 {
        padding: 36px 106px 36px 107px;
    }

    .link2 {
        padding: 36px 115px 0px 116px;
    }

    .link3 {
        padding: 38px 125px 38px 126px;
    }

    .link4 {
        padding: 39px 125px;
    }

    .link5 {
        padding: 38px 128px;
    }

    .link6 {
        padding: 36px 103px 36px 103px;
    }

    .link7 {
        padding: 29px 146px 30px 146px;
    }

    .link8 {
        padding: 22px 142px;
    }

    .link9 {
        padding: 30px 124px;
    }

    .link10 {
        padding: 41px 124px 41px 125px;
    }

    .link11 {
        padding: 37px 120px 37px 121px;
    }

    .link12 {
        padding: 13px 139px 12px 139px;
    }
}