* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.spacer {
    width: 100%;
    height: 60px;
    border: 0;
    margin: 0;
} 

.invisible {
    display: none;
}