* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.spacer {
    width: 100%;
    height: 60px;
    border: 0;
    margin: 0;
}
