.swipe {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 0;
    justify-content: center;
}

.swipe-drawer-inner {
    display: flex;
    gap: 30px;
    flex-shrink: 0;
    padding-right: 30px;
    padding-left: 30px;
    overflow-x: auto;
}

.swipe-drawer-inner::-webkit-scrollbar {
    display: none;
}

.swipe-link {
    color: #B3B3BA;
    font-size: 38px;
    font-weight: 700;
    text-decoration: none;
    flex-shrink: 0;
}

.swipe-link:hover {
    color: #F0145A;
    text-align: right;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-link {
    background: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-swipe-content {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    gap: 30px;
}

.swipe-section hr {
    width: 100%;
    background: rgba(255, 255, 255, 0.30);
    margin: 0;
    height: 4px;
    border: 0;
}

.swipe-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.swipe-content-title {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.swipe-content-text {
    color: #FFF;
    font-size: 19px;
    line-height: 30px;
    margin: 0;
}

@media (min-width: 768px) {
    .box-swipe-content {
        padding-right: 60px;
        padding-left: 60px;
        gap: 60px;
    }

    .swipe-drawer-inner {
        padding-right: 60px;
        padding-left: 60px;
    }

    .swipe {
        gap: 60px;
    }

}

@media (min-width: 1024px) { 
    .swipe {
        flex-direction: row;
        align-items: center;
        max-width: 1360px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 60px;
        padding-right: 60px;
    }

    .box-swipe-content {
        padding: 0;
        flex-direction: row;
        align-items: center;
    }

    .swipe-drawer-inner {
        flex-direction: column;
        text-align: right;
        padding: 0;
    }

    .swipe-section hr {
        width: 4px;
        height: 303px;
    }
}

@media (min-width: 1600px) {
    .swipe {
        padding: 0;
    }
}